{% extends 'homeBase.html' %} {% block content %} {% load static %}
<script src="{% static 'app/javascript/holder.js' %}" defer></script>
<link rel="preconnect" href="https://fonts.gstatic.com"> 
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
<title>Document</title>
<link rel="stylesheet" href="{% static 'app/rivs.css' %}" />

<div class="edit_div">
<h1>Testing Template:</h1>

<h2>Edit</h2>

<button id="darkMode" class='dark-button'/> Dark Mode </button>

<a class = "boo" href="{% url 'home' %}"><button>home page</button></a>
</div>

{% endblock content %}
