{% extends 'homeBase.html' %} {% block content %} {% load static %}
<script src="{% static 'app/javascript/homescript.js' %}" defer></script>

<div class="home_div">
  <h1>Testing Base Template:</h1>
  <h2>Home</h2>

  <p>Moving around with javascript</p>

  {% comment %} <a  class = "safe" href="{% url 'edit' %}"><button class = "safe">edit page</button></a>
  <a class= "sir" href="{% url 'logout' %}"><button>logout</button></a> {% endcomment %}
</div>
<a  class = "safe" href="{% url 'edit' %}"><button >edit page</button></a>
<a class= "sir" href="{% url 'logout' %}"><button class = nom >logout</button></a>

{% endblock content %}
