html,
body {
  margin: 0px;
  height: 100%;
}

body {
  background: #ffffd0;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  background: #eaeac7;
  width: 85%;
  height: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.safe {
  height: 20em;
}